@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
    min-height: 100vh;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Start Navigation  */
.navbar{
    box-shadow: 0 2px 15px rgb(0, 0, 0 , 0.3);
    background-color: #fff !important;
}
.navbar.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
/* End Navigation  */

/* Start loading */
.loading{
    font-size: 25px;
    font-weight: 500;
    color: #00b750;
}
/* End loading */

/* Start Main Content */
.main-content{
    padding-top: 100px;
    padding-bottom: 100px ;
    min-height: 100vh;
}
/* Start Main Content */

/* Start post */
.main-content #posts .post{
    background-color: #fff;
    border:2px solid #dbdbdb;
    overflow: hidden;
    transition: all 0.3s;
}
.main-content #posts .post:hover{
    transform: translateY(-10px);
}
.img{
    width: 40px;
    height: 40px;
}

.main-content #posts .post .card-body{
    position: relative;
}
.main-content #posts .post .card-body::after{
    position: absolute;
    content: "";
    width: 100%;
    bottom: 50px;
    left: 0;
    height: 2px;
    background: linear-gradient(90deg  , transparent , #000 , transparent);

}
.main-content #posts .post .card-body img{
    max-width: 100%;
    border-radius: 8px;
}
.main-content #posts .post .card-body .post-content{
    line-height: 1.6;
    font-size: 16px;
    color: #777;
}
/* End Post */
/* hidden element */
.hidden{
    display: none !important;
}
/* alert message */
.alert-message{
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 40px;
    text-align: center;
}
/* ////////////////////////////// */
/* Start Rigister Page */
.register-page{
    height: 100Vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg , #000, #aaa ,#aaa,#000);
}
.register-page form{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 10px 15px rgb(255, 0, 0 , 0.3);
    border-radius: 20px;
}

.register-page form label{
    font-size: 20px;
    color: red;
    font-weight: 600;
    margin-bottom:10px ;
}
.register-page form input{
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    margin-bottom: 20px;
    background-color: #fff;
}
/* End Rigister Page */
/* button of adding post */
#adding-post{
    position: fixed;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #0075b0;
    font-size: 40px;
    font-weight: bold;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    box-shadow: 0 10px 10px 2px rgb(0, 0, 0 , 0.3);
}
/* comments style */
.comment-container{
    max-width: 100%;
    width: 100%;
    background-color: #dbdbdb;
}

.comment-input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
}
.comment-input:focus{
    outline: none;
}
.comment-submit{
    padding:5px 15px ;
    height: 40px;
    border: none;
    background-color: #0075b0;
    color: white;
    margin-left:10px ;
    border-radius: 0 8px 8px 0;
    position: absolute;
    right: 0;
}
/* Start profile style */
.user-info{
    box-shadow: 0 0 10px 4px rgb(85, 85, 85 , 0.5);
}
.user-info .img-profile{
    width: 200px;
    height: 200px;
    border-radius: 50% ;
}
.user-info .comment-post  #post-count-num ,
.user-info .comment-post #comment-count-num{
    font-weight: 200;
    font-size: 60px;
}